@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@keyframes color-change {
    0% {
      background-color: #fc04a4;
    }
    10% {
      background-color: #fc04a4;
    }
    20% {
      background-color: #fc04a4;
    }
    50% {
      background-color: red;
    }
    90% {
      background-color: #fc04a4;
    }
    100% {
      background-color: #fc04a4;
    }
  }

  html {
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    overflow-x: hidden;
}

.background-change {
    animation: 4s ease-in infinite color-change;
}

.google-font {
    font-family: 'Montserrat', sans-serif;
}
